<div id="listOfTwottes">

{{#each twottes}}

	<div class="{{displayName}} toggleTwotte" id="{{_id}}" name ="{{author}}">
		<span id="author">{{author}}</span> @ <span id="time"> <i>({{timestamp}})</i>: </span><span id="message"> {{message}}</span>
		<img src="../images/trashIcon.png" width="30" height="30" class="img-trash-icon" hidden>
 	</div>

{{/each}}

</div>