<div id="listOfTwottes">

{{#each twottes}}

	<div class="{{this.author}} toggleTwotte" id="{{this._id}}">
		<span id="author">{{this.author}}</span> @ <span id="time">{{this.timestamp}}</span>
		Message: <span id="message">{{this.message}}</span>
		<img src="../images/trashIcon.png" width="30" height="30" class="img-trash-icon" hidden>
 	</div>

{{/each}}

</div>